<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <title>This PR Is Too Big!</title>
           
</head>


    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">This PR is Too Damn Big!</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="https://www.bellotti.tech/effective-code-reviews">Code Reviews</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Coder Bootcamp Post Grad
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="https://www.bellotti.tech/deep-than-broad">Deep then Broad</a></li>
                      <li><a class="dropdown-item" href="https://www.bellotti.tech/learn-cs-fundamentals">Learn CS Fundamentals</a></li>
                      <li><a class="dropdown-item" href=" https://www.bellotti.tech/managing-impostor-syndrome">Managing Impostor Syndrome</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="https://bellotti.tech">More...</a></li>
                    </ul>
                  </li>
                </ul>
                </div>
            </div>
          </nav>

        <div class="container">
            <div class="page-header">
            <div class="row">
                <div class="col"> <h1>Human Computer Interaction Patterns</h1></div>
            </div>
        </div>
            <div class="row">
              <div class="col">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Phase</th>
                        <th scope="col">Human</th>
                        <th scope="col">Robot</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Init</th>
                        <td id="h1"></td>
                        <td id="r1"></td>
                      </tr>
                      <tr>
                        <th scope="row">Learn</th>
                        <td id="h2"></td>
                        <td id="r2"></td>
                      </tr>
                      <tr>
                        <th scope="row">Constrain</th>
                        <td id="h3"></td>
                        <td id="r3"></td>
                      </tr>
                      <tr>
                        <th scope="row">Create</th>
                        <td id="h4"></td>
                        <td id="r4"></td>
                      </tr>
                      <tr>
                        <th scope="row">Select</th>
                        <td id="h5"></td>
                        <td id="r5"></td>
                      </tr>
                      <tr>
                        <th scope="row">Iterate</th>
                        <td id="h6"></td>
                        <td id="r6"></td>
                      </tr>
                    </tbody>
                  </table>  
            </div>
            </div>
          <div class="row">
            <div class="col">
            <form action="/submit" method="POST">
                <h4>Name:</h4>
                <input name="key" type="hidden" value="{{key}}"/>
                <input name="name" id="name" type="text"><br><br>
            <h4>Description:</h4>
            <textarea name="description" id="description"></textarea><br><br>
                <input type="submit"/>
            </form>
        </div>
          </div>
        </div>
    </body>
    <script src="static/js/load_data.js"></script>
    <script>
         data = ["{{item[0]}}", "{{item[1]}}", "{{item[2]}}", "{{item[3]}}", "{{item[4]}}", "{{item[5]}}"]
        pick_and_set(data)
    </script>
</html>